**/__pycache__
**/.idea
**/*.pyd
**/build
**/dist
**/*.egg-info
**/.venv
.vscode/settings.json
.coverage
htmlcov
debug/*
compile_flags.txt
# Mirror of Cython sources for coverage lookup:
/py_ballisticcalc_exts/*
