UsageDemo - Copy.ipynb
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/py_ballistics/v15/.suo
.vscode/settings.json
py_ballisticcalc/atmosphere.c
py_ballisticcalc/drag.c
py_ballisticcalc/ExampleDetailed.py
py_ballisticcalc/Examples.ipynb
py_ballisticcalc/ExampleSimple.py
py_ballisticcalc/multiple_bc.c
py_ballisticcalc/projectile.c
py_ballisticcalc/shot_parameters.c
py_ballisticcalc/trajectory_calculator.c
py_ballisticcalc/trajectory_data.c
py_ballisticcalc/wind.c
py_ballisticcalc/__pycache__/__init__.cpython-310.pyc
py_ballisticcalc/__pycache__/drag_tables.cpython-310.pyc
py_ballisticcalc/__pycache__/interface.cpython-310.pyc
py_ballisticcalc/bmath/__pycache__/__init__.cpython-310.pyc
py_ballisticcalc/bmath/unit/angular.c
py_ballisticcalc/bmath/unit/distance.c
py_ballisticcalc/bmath/unit/energy.c
py_ballisticcalc/bmath/unit/pressure.c
py_ballisticcalc/bmath/unit/temperature.c
py_ballisticcalc/bmath/unit/velocity.c
py_ballisticcalc/bmath/unit/velocityNew.py
py_ballisticcalc/bmath/unit/weight.c
py_ballisticcalc/bmath/unit/__pycache__/__init__.cpython-310.pyc
py_ballisticcalc/bmath/unit/__pycache__/velocity.cpython-310.pyc
py_ballisticcalc/bmath/vector/vector.c
py_ballisticcalc/bmath/vector/__pycache__/__init__.cpython-310.pyc
