site_name: py-ballisticcalc
site_description: LGPL library for small arms ballistic calculations based on point-mass (3 DoF) plus spin drift.

nav:
- Get started:
  - Welcome: index.md
#  - Why use py-balllisticcalc: why.md
  - Help: help.md
  - Installation: install.md
  - Version policy: version-policy.md
#  - Contributing: contributing.md
#  - Changelog: changelog.md
- Concepts:
#  - Classes: concepts/classes.md
  - Units and Dimensions: concepts/units.md
  - Weapon: concepts/weapon.md
  - Ammo: concepts/ammo.md
#  - Types:
  - Engines: concepts/engines.md
#  - Performance:
#- API Documentation:
#- Examples:
#- Error Messages:
- Internals:
  - Architecture: internals/architecture.md
- Contributors: contributors.md
- About: about.md

theme:
  name: 'material'
  custom_dir: 'docs/theme'
  palette:
  - media: "(prefers-color-scheme)"
    scheme: default
    primary: teal
    accent: teal
    toggle:
      icon: material/lightbulb
      name: "Switch to light mode"
  - media: "(prefers-color-scheme: light)"
    scheme: default
    primary: teal
    accent: teal
    toggle:
      icon: material/lightbulb-outline
      name: "Switch to dark mode"
  - media: "(prefers-color-scheme: dark)"
    scheme: slate
    primary: teal
    accent: teal
    toggle:
      icon: material/lightbulb-auto-outline
      name: "Switch to system preference"
  features:
    - content.tabs.link
    - content.code.annotate
    - content.code.copy
    - announce.dismiss
    - navigation.tabs
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.preview
    - navigation.instant.progress
    - navigation.path
    - navigation.sections
    - navigation.top
    - navigation.tracking
    - search.suggest
    - toc.follow
  logo: 'favicon.svg'
  favicon: 'favicon.svg'

repo_name: o-murphy/py_ballisticcalc
repo_url: https://github.com/o-murphy/py_ballisticcalc
extra:
  version:
    provider: mike
  analytics:
    feedback:
      title: Was this page helpful?
      ratings:
        - icon: material/thumb-up-outline
          name: This page was helpful
          data: 1
          note: >-
            Thanks for your feedback!
        - icon: material/thumb-down-outline
          name: This page could be improved
          data: 0
          note: >-
            Thanks for your feedback!

# https://www.mkdocs.org/user-guide/configuration/#validation
validation:
  omitted_files: warn
  absolute_links: warn
  unrecognized_links: warn

extra_css:
  - 'extra/terminal.css'
  - 'extra/tweaks.css'
extra_javascript:
  - 'extra/feedback.js'
#  - 'extra/fluff.js'
  - 'https://samuelcolvin.github.io/mkdocs-run-code/run_code_main.js'

markdown_extensions:
- tables
- toc:
    permalink: true
    title: Page contents
- admonition
- pymdownx.details
- pymdownx.superfences
- pymdownx.highlight:
    pygments_lang_class: true
- pymdownx.extra
- pymdownx.emoji:
    emoji_index: !!python/name:material.extensions.emoji.twemoji
    emoji_generator: !!python/name:material.extensions.emoji.to_svg
- pymdownx.tabbed:
    alternate_style: true