# Copyright 2023 Dmytro Yaroshenko (https://github.com/o-murphy)
# Copyright 2024 David Bookstaber (https://github.com/dbookstaber)

[build-system]
requires = ["setuptools", "wheel", "tomli; python_version<'3.11'"]
build-backend = "setuptools.build_meta"


[project]
name = "py_ballisticcalc"
version = "2.2.0b3"

authors = [
    { name = "o-murphy", email = "thehelixpg@gmail.com" },
    { name = "dbookstaber", email = "bookstaber@gmail.com" }
]
description = "LGPL library for small arms ballistic calculations (Python 3)"
readme = "README.md"
requires-python = ">=3.9"
keywords = ["py_ballisticcalc", "ballistics", "Cython", "ballistic calculator", "python", "python3"]
license = { file = "LICENSE" }
classifiers = [
    "Intended Audience :: Developers",
    "Natural Language :: English",
    "Programming Language :: Python",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: Implementation :: CPython",
]
dependencies = [
    "typing_extensions>= 4.12.2",
    "tomli; python_version<'3.11'",
]

[project.entry-points.py_ballisticcalc]
euler_engine = "py_ballisticcalc:EulerIntegrationEngine"
rk4_engine = "py_ballisticcalc:RK4IntegrationEngine"
scipy_engine = "py_ballisticcalc:SciPyIntegrationEngine"

[project.urls]
"Homepage" = "https://github.com/o-murphy/py_ballisticcalc"
"Bug Reports" = "https://github.com/o-murphy/py_ballisticcalc/issues"
"Source" = "https://github.com/o-murphy/py_ballisticcalc"


[tool.setuptools]
py-modules = ["py_ballisticcalc"]

[tool.setuptools.packages.find]
where = ["."]
include = ["py_ballisticcalc*"]


[tool.pytest.ini_options]
minversion = "8.0"
addopts = "-rf"
testpaths = ["tests"]

[dependency-groups]
dev = [
    "build>=1.2.2.post1",
    "jupyter>=1.1.1",
    "matplotlib>=3.9",
    "mypy>=1.15.0",
    "numpy>=2",
    "scipy>=1.13.1",  # maybe should be in othger dependency group (40+Mb zipped size)
    "pandas>=2.3.0",
    "pandas-stubs>=2.2.2.240807",
    "pylint>=3.3.4",
    "pytest>=8.3.5",
    "pytest-cov>=6.0.0",
    "pytest-xdist>=3.6.1",
]

[tool.uv.sources]
"py_ballisticcalc.exts" = { path = "./py_ballisticcalc.exts" }  # required for `uv sync`

[project.optional-dependencies]
exts = ['py_ballisticcalc.exts==2.2.0b3']
charts = ["matplotlib>=3.9", "pandas>=2.3.0", "numpy>=2"]
visualize = ["matplotlib>=3.9", "pandas>=2.3.0", "numpy>=2"]
scipy = []
dev = [
    "build>=1.2.2.post1",
    "jupyter>=1.1.1",
    "matplotlib>=3.9",
    "mypy>=1.15.0",
    "numpy>=2",
    "scipy>=1.13.1",  # maybe should be in othger dependency group (40+Mb zipped size)
    "pandas>=2.3.0",
    "pandas-stubs>=2.2.2.240807",
    "pylint>=3.3.4",
    "pytest>=8.3.5",
    "pytest-cov>=6.0.0",
    "pytest-xdist>=3.6.1",
]
docs = [
    'mkdocs',
    'mkdocs-exclude',
    'mkdocs-material[imaging]',
    'mkdocs-redirects',
    'mkdocstrings-python',
    'mkdocstrings',
    'mkdocs-autorefs',
    'mike',
    'pydocstyle',
]
