recursive-include py_ballisticcalc_exts *.pyx
recursive-include py_ballisticcalc_exts *.pxd
recursive-include py_ballisticcalc_exts *.pyi
recursive-include py_ballisticcalc_exts *.pyd
recursive-include py_ballisticcalc_exts *.so
recursive-include py_ballisticcalc_exts *.dylib
recursive-include py_ballisticcalc_exts/include *.h
recursive-include py_ballisticcalc_exts/src *.c
global-include py.typed
include LICENSE
include README.md
