# Copyright 2023 Dmytro Yaroshenko (https://github.com/o-murphy)
# Copyright 2024 David Bookstaber (https://github.com/dbookstaber)

[build-system]
requires = ["setuptools", "wheel", 'cython']
build-backend = "setuptools.build_meta"


[project]
name = "py_ballisticcalc.exts"
version = "2.1.0rc1"

authors = [
    { name="o-murphy", email="thehelixpg@gmail.com" },
    { name="dbookstaber", email="bookstaber@gmail.com"}
]
description = "LGPL library for small arms ballistic calculations (Python 3)"
readme = "README.md"
requires-python = ">=3.9"
keywords = ["py_ballisticcalc", "ballistics", "Cython", "ballistic calculator", "python", "python3"]
license = {file = "LICENSE"}
classifiers = [
    "Intended Audience :: Developers",
    "Natural Language :: English",
    "Programming Language :: Python",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: Implementation :: CPython",
]
dependencies = []

[project.urls]
"Homepage" = "https://github.com/o-murphy/py_ballisticcalc"
"Bug Reports" = "https://github.com/o-murphy/py_ballisticcalc/issues"
"Source" = "https://github.com/o-murphy/py_ballisticcalc"

[tool.setuptools]
py-modules = ["py_ballisticcalc_exts"]


[tool.setuptools.packages.find]
where = ["."]
include = ["py_ballisticcalc_exts*"]

[project.optional-dependencies]
dev = ['cython', 'build', 'setuptools', 'cibuildwheel']

[tool.cibuildwheel]
# Use uv and build
build-frontend = "build[uv]"
