name: Coverage

on:
  pull_request:
    branches:
      - '*'
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install uv and set the python version
      uses: astral-sh/setup-uv@v5
      with:
        python-version: "3.11"

    - name: Validate exts version matching
      run: |
        uv pip install tomli
        python hooks/version_check.py

    - name: Install the project
      run: uv pip install -e .[dev]

    - name: Run coverage
      run: pytest tests --cov=py_ballisticcalc --cov-report=html

    - name: Install "coverage-badge"
      run: uv pip install coverage-badge

    - name: Generate coverage badge
      run: coverage-badge -o coverage.svg

    - name: Upload coverage badge
      uses: actions/upload-artifact@v4
      with:
        name: coverage.svg
        path: coverage.svg