name: Pylint (uv)

on:
  pull_request:
    branches:
      - '*'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install uv and set the python version
      uses: astral-sh/setup-uv@v5
      with:
        python-version: "3.12"

    - name: Validate exts version matching
      run: |
        uv pip install tomli
        python hooks/version_check.py

    - name: Install the project
      run: |
        uv pip install -e .[dev]

    - name: Analysing the code with pylint
      run: |
        pylint ./py_ballisticcalc 
